.targets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4em;
}
.target {
    padding: 2em 4em;
}
.target hr {
    color: var(--primary-gray);
}
.target-buttons {
margin-top: 2em;
}
.target-title {
    color: var(--yellow);
    margin-top: 1em;
    margin-bottom: .5em;
}
.target-subtitle {
    color: var(--primary-gray);
    font-size: .7em;
    margin-bottom: 2em;
}
.target-description {
    color: var(--second-gray);
    font-size: .9em;
    margin-top: 2em;
}
.target-price-t {
    color: var(--primary-gray);
    margin-top: 2em;
    margin-bottom: .4em;
    font-size: .8em;
}
.target-price-d {
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}
.target button {
    background-color: transparent;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    font-size: .8em;
    padding: 1em 3em;
    transition: .3s;
}
.target button:hover {
    background-color: var(--yellow);
    border: 1px solid #000;
    color: #000;
}
.target button i {
    margin-left: 1.5em;
}